In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df_train = pd.read_csv("src/data/train.csv") 
df_test = pd.read_csv("src/data/test.csv")

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14095 entries, 0 to 14094
Data columns (total 54 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   14095 non-null  object
 1   COMPONENT_ARBITRARY  14095 non-null  object
 2   ANONYMOUS_1          14095 non-null  int64
 3   YEAR                 14095 non-null  int64
 4   SAMPLE_TRANSFER_DAY  14095 non-null  int64
 5   ANONYMOUS_2          14095 non-null  int64
 6   AG                   14095 non-null  int64
 7   AL                   14095 non-null  int64
 8   B                    14095 non-null  int64
 9   BA                   14095 non-null  int64
 10  BE                   14095 non-null  int64
 11  CA                   14095 non-null  int64
 12  CD                   12701 non-null  float64
 13  CO                   14095 non-null  int64
 14  CR                   14095 non-null  int64
 15  CU                   14095 non-null  int64
 16  FH2O                 3890 non-null   float64
 17  FNOX                 3890 non-null   float64
 18  FOPTIMETHGLY         3890 non-null   float64
 19  FOXID                3890 non-null   float64
 20  FSO4                 3890 non-null   float64
 21  FTBN                 3890 non-null   float64
 22  FE                   14095 non-null  int64
 23  FUEL                 3890 non-null   float64
 24  H2O                  14095 non-null  float64
 25  K                    11796 non-null  float64
 26  LI                   14095 non-null  int64
 27  MG                   14095 non-null  int64
 28  MN                   14095 non-null  int64
 29  MO                   14095 non-null  int64
 30  NA                   14095 non-null  int64
 31  NI                   14095 non-null  int64
 32  P                    14095 non-null  int64
 33  PB                   14095 non-null  int64
 34  PQINDEX              14095 non-null  int64
 35  S                    14095 non-null  int64
 36  SB                   14095 non-null  int64
 37  SI                   14095 non-null  int64
 38  SN                   14095 non-null  int64
 39  SOOTPERCENTAGE       3890 non-null   float64
 40  TI                   14095 non-null  int64
 41  U100                 2316 non-null   float64
 42  U75                  2316 non-null   float64
 43  U50                  2316 non-null   float64
 44  U25                  2316 non-null   float64
 45  U20                  2316 non-null   float64
 46  U14                  2118 non-null   float64
 47  U6                   2118 non-null   float64
 48  U4                   2118 non-null   float64
 49  V                    14095 non-null  int64
 50  V100                 3724 non-null   float64
 51  V40                  14095 non-null  float64
 52  ZN                   14095 non-null  int64
 53  Y_LABEL              14095 non-null  int64
dtypes: float64(21), int64(31), object(2)
memory usage: 5.8+ MB

In [7]:
df_train.isnull().sum()

ID                         0
COMPONENT_ARBITRARY        0
ANONYMOUS_1                0
YEAR                       0
SAMPLE_TRANSFER_DAY        0
ANONYMOUS_2                0
AG                         0
AL                         0
B                          0
BA                         0
BE                         0
CA                         0
CD                      1394
CO                         0
CR                         0
CU                         0
FH2O                   10205
FNOX                   10205
FOPTIMETHGLY           10205
FOXID                  10205
FSO4                   10205
FTBN                   10205
FE                         0
FUEL                   10205
H2O                        0
K                       2299
LI                         0
MG                         0
MN                         0
MO                         0
NA                         0
NI                         0
P                          0
PB                         0
PQINDEX                    0
S                          0
SB                         0
SI                         0
SN                         0
SOOTPERCENTAGE         10205
TI                         0
U100                   11779
U75                    11779
U50                    11779
U25                    11779
U20                    11779
U14                    11977
U6                     11977
U4                     11977
V                          0
V100                   10371
V40                        0
ZN                         0
Y_LABEL                    0
dtype: int64

In [14]:
df_train.fillna(0, inplace = True)

In [15]:
df_train.isnull().sum()

ID                     0
COMPONENT_ARBITRARY    0
ANONYMOUS_1            0
YEAR                   0
SAMPLE_TRANSFER_DAY    0
ANONYMOUS_2            0
AG                     0
AL                     0
B                      0
BA                     0
BE                     0
CA                     0
CD                     0
CO                     0
CR                     0
CU                     0
FH2O                   0
FNOX                   0
FOPTIMETHGLY           0
FOXID                  0
FSO4                   0
FTBN                   0
FE                     0
FUEL                   0
H2O                    0
K                      0
LI                     0
MG                     0
MN                     0
MO                     0
NA                     0
NI                     0
P                      0
PB                     0
PQINDEX                0
S                      0
SB                     0
SI                     0
SN                     0
SOOTPERCENTAGE         0
TI                     0
U100                   0
U75                    0
U50                    0
U25                    0
U20                    0
U14                    0
U6                     0
U4                     0
V                      0
V100                   0
V40                    0
ZN                     0
Y_LABEL                0
dtype: int64

In [17]:
df_train.head()

,ID,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,...,U25,U20,U14,U6,U4,V,V100,V40,ZN,Y_LABEL
0,TRAIN_00000,COMPONENT3,1486,2011,7,200,0,3,93,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,154.0,75,0
1,TRAIN_00001,COMPONENT2,1350,2021,51,375,0,2,19,0,...,2.0,4.0,6.0,216.0,1454.0,0,0.0,44.0,652,0
2,TRAIN_00002,COMPONENT2,2415,2015,2,200,0,110,1,1,...,0.0,3.0,39.0,11261.0,41081.0,0,0.0,72.6,412,1
3,TRAIN_00003,COMPONENT3,7389,2010,2,200,0,8,3,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,133.3,7,0
4,TRAIN_00004,COMPONENT3,3954,2015,4,200,0,1,157,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,133.1,128,0